main {
    margin: 0 100px;
    font-family: "Verdana";
}

body {
   
}

.header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 160px;
    
}

a:link,
a:visited, 
a:hover, 
a:active {
    color: #000000;
    text-decoration: none;
}

